/*
0-600px: phone;
600-900px:tablel portrait;
600-1200px:tablel landscape;
[1200 - 1800] is where normal style apply
1800px + :big desktop;
ORDER: Base + typography > general layout + grid > page layout > components
$breakpoint argument choises:
- phone
- tab-port
- tab-land
- big-desktop
1em = 16px
*/
.body__wrapp {
  position: absolute;
  width: 120rem;
  height: 69.9rem;
  left: 240px;
  top: 201px;
  overflow-y: scroll;
}
@media (max-width: 48em) {
  .body__wrapp {
    position: absolute;
    width: 664px;
    height: 918px;
    left: 104px;
    top: 181px;
  }
}

.body__wrapp::-webkit-scrollbar {
  display: none;
}

.body__wrapp {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.mtop {
  top: 99px;
}

.header__wrapp {
  position: absolute;
  height: 20.1rem;
  width: 120rem;
  left: 240px;
  right: 0px;
  top: 0px;
  background: #ffffff;
  z-index: 2;
}
@media (max-width: 56.25em) {
  .header__wrapp {
    position: absolute;
    height: 20.1rem;
    width: 130rem;
    left: 154px;
  }
}
@media (max-width: 48em) {
  .header__wrapp {
    position: absolute;
    height: 181px;
    left: 104px;
    right: 0px;
    top: 0px;
    width: 664px;
    text-align: end;
    border-bottom: 1px solid #e5e5e5;
  }
}
.header__wrapp-heading {
  padding-left: 6rem;
  font-size: 2.8rem;
  margin-bottom: 30px;
}
@media (max-width: 48em) {
  .header__wrapp-heading {
    position: absolute;
    width: 296px;
    height: 40px;
    left: 342px;
    top: 31px;
  }
}
.header__wrapp-input {
  position: absolute;
  width: 108rem;
  height: 52px;
  left: 60px;
  border-radius: 50px;
  border: none;
}
@media (max-width: 48em) {
  .header__wrapp-input {
    position: absolute;
    width: 585px;
    height: 52px;
    left: 62px;
    top: 102px;
  }
}
.header__wrapp-input input {
  border: 1px solid rgba(51, 51, 51, 0.2);
  height: 52px;
  width: 100%;
  border-radius: 50px;
  padding-left: 44px;
  outline: none;
}
.header__wrapp-input input ::placeholder {
  font-size: 1.8rem;
}
.header__wrapp-input img {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 15px;
  top: calc(50% - 20px / 2);
}

.hidden {
  opacity: 0;
}

.move__top {
  position: absolute;
  height: 52px;
  left: 111px;
  right: 26px;
  bottom: 27px;
  width: 541px;
  top: 26px;
}

.srink {
  height: 106px;
}

.sidebar__wrapp {
  position: absolute;
  width: 24rem;
  left: 0px;
  top: 0px;
  bottom: -21px;
  background: #f3f4f9;
  z-index: 3;
}
@media (max-width: 56.25em) {
  .sidebar__wrapp--mobile {
    width: 10.4rem;
  }
}
@media (max-width: 56.25em) {
  .sidebar__wrapp {
    position: absolute;
    width: 155px;
    height: 1272px;
    left: 0px;
    top: 0px;
  }
}
@media (max-width: 48em) {
  .sidebar__wrapp {
    position: absolute;
    width: 155px;
    height: 1272px;
    left: 0px;
    top: 0px;
  }
}

.sidebar__logo {
  position: absolute;
  width: 12.1rem;
  height: 5rem;
  left: 41px;
  top: 41px;
}
@media (max-width: 56.25em) {
  .sidebar__logo {
    left: 60px;
  }
}

.sidebar__list {
  list-style: none;
  position: absolute;
  top: 132px;
  width: 100%;
}
.sidebar__list-item {
  display: flex;
  height: 64px;
  padding-left: 4rem;
  cursor: pointer;
  align-items: center;
}
@media (max-width: 56.25em) {
  .sidebar__list-item {
    padding-left: 8rem;
  }
}
@media (max-width: 48em) {
  .sidebar__list-item {
    padding-left: 8rem;
  }
}
.sidebar__list-item svg {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}
.sidebar__list-item-link {
  text-decoration: none;
  font-size: 1.6rem;
  color: #000;
  display: flex;
  align-items: center;
}
@media (max-width: 56.25em) {
  .sidebar__list-item-link {
    font-size: 1.6rem;
    font-weight: 600;
  }
}

.active::before {
  content: "";
  position: absolute;
  height: 24px;
  width: 3px;
  background: #34abe0;
  left: 0;
}
.active a {
  color: #34abe0;
}
.active svg path {
  stroke: #34abe0;
}

.mobile__menu {
  position: absolute;
  right: 0;
  background: url("../../assets/icons/sidebar/menu/Union.png");
  width: 48px;
  height: 106px;
  left: 100%;
  display: none;
}
@media (max-width: 56.25em) {
  .mobile__menu {
    display: flex;
    z-index: 999;
  }
}
.mobile__menu-btn {
  position: absolute;
  width: 26px;
  height: 20px;
  right: 20px;
  top: 43px;
  background-image: url("../../assets/icons/sidebar/menu/burger menu.png");
  background-color: transparent;
  border: none;
  outline: none;
}

.sidebar__open {
  width: 24.6rem;
}

.close {
  background-image: url("../../assets/icons/sidebar/menu/menu exit.png");
}

.mobile__text--logo {
  display: none;
}
@media (max-width: 56.25em) {
  .mobile__text {
    opacity: 0;
    visibility: hidden;
  }
  .mobile__text--logo {
    font-size: 1.4rem;
    font-weight: 600;
    position: absolute;
    top: 15%;
    margin-left: 5px;
    text-transform: uppercase;
    display: inline;
  }
}

.card__wrapp {
  margin-top: 40px;
  padding: 0 6rem;
  margin-bottom: 145px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 48em) {
  .card__wrapp {
    margin-top: 27px;
    padding: 0 0;
    padding-left: 6rem;
    margin-bottom: 145px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
.card__wrapp-card {
  width: 34.7rem;
  height: 161px;
  display: flex;
  justify-content: space-between;
  background: #ffff;
  margin-bottom: 20px;
  position: relative;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}
@media (max-width: 48em) {
  .card__wrapp-card {
    height: 144px;
  }
}
.card__wrapp-card:hover {
  background: url("../../assets/img/hover.png");
  background-size: 100% 100%;
  background-color: #fff;
}
.card__wrapp-card-left {
  margin-left: 20px;
  padding-top: 16px;
  font-family: "Roboto", sans-serif;
  left: 0;
}
.card__wrapp-card-left-title {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.1em;
}
.card__wrapp-card-left-subtitle {
  font-size: 1.6rem;
  opacity: 0.3;
  font-weight: 400;
  margin-bottom: 40px;
  position: absolute;
  height: 16px;
}
.card__wrapp-card-left-num {
  font-weight: 500;
  color: #df212d;
  font-size: 3.6rem;
  position: absolute;
  left: 20px;
  top: 94px;
}
@media (max-width: 48em) {
  .card__wrapp-card-left-num {
    top: 82px;
  }
}
.card__wrapp-card-left-label {
  font-size: 1.6rem;
  opacity: 0.5;
  letter-spacing: 0.4em;
  margin-bottom: 15.7px;
  position: absolute;
  top: 135px;
}
@media (max-width: 48em) {
  .card__wrapp-card-left-label {
    top: 113px;
  }
}
.card__wrapp-card-right img {
  width: 13rem;
  height: 161px;
}
@media (max-width: 48em) {
  .card__wrapp-card-right img {
    width: 13rem;
    height: 144px;
  }
}

.poligon_left {
  position: absolute;
  width: 10px;
  background: #88878729;
  height: 10px;
  clip-path: polygon(72% 50%, 8% 0, 6% 112%);
  top: 47%;
  left: -1px;
}

.poligon_right {
  position: absolute;
  width: 10px;
  background: #88878729;
  height: 10px;
  clip-path: polygon(72% 50%, 8% 0, 6% 112%);
  top: 47%;
  right: -1px;
  transform: rotate(181deg);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  /*@include respond(phone){
      font-size: 50%;// 1rem = 8px ;8/16 = 50%
    }*/
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 48em) {
  html {
    font-size: 48%;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fafafa;
}

.container {
  position: relative;
  width: 140rem;
  height: 102.4rem;
}
@media (max-width: 48em) {
  .container {
    position: relative;
    width: 768px;
    height: 1024px;
  }
}/*# sourceMappingURL=main.css.map */