.body__wrapp {
  position: absolute;
  width: 120rem;
  height: 69.9rem;
  left: 240px;
  top: 201px;
  overflow-y: scroll;
}

.body__wrapp::-webkit-scrollbar {
  display: none;
}
.body__wrapp{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}