.header__wrapp {
  position: absolute;
  height: 201px;
  width: 120rem;
  left: 240px;
  right: 0px;
  top: 0px;
  background: $header-bg;
  z-index: 2;
  // padding: 4rem 0;
  @include respond(tab-land){
    left: 217px;
  }
  @include respond(tab-port) {
    position: absolute;
    height: 20.1rem;
    width: 100%;
    left: 154px;
  }
  @include respond(ipad) {
    position: absolute;
    height: 181px;
    left: 104px;
    right: 0px;
    top: 0px;
    width: 664px;
    text-align: end;
    border-bottom: 1px solid #e5e5e5;
  }
  @include respond(small-phone) {
    position: absolute;
    height: 169px;
    width: 306px;
    left: 14px;
  }
  &-heading {
    padding-left: 6rem;
    font-size: $main-h1;
    margin-bottom: 30px;
    margin-top: 40px;
    @include respond(ipad) {
      position: absolute;
      width: 296px;
      height: 40px;
      left: 342px;
      top: 0px;
    }
    @include respond(small-phone) {
      font-size: $main-mob-h1;
      position: absolute;
      width: 267px;
      height: 32px;
      left: 21px;
      top: 0px;
    }
  }
  &-input {
    position: absolute;
    width: 108rem;
    height: 52px;
    left: 60px;
    border-radius: 50px;
    border: none;
    @include respond(tab-port){
      width: 70rem;
    }
    @include respond(ipad) {
      position: absolute;
      width: 585px;
      height: 52px;
      left: 62px;
      top: 102px;
    }
    @include respond(small-phone) {
      position: absolute;
      width: 259px;
      height: 52px;
      left: 37px;
      top: 98px;
    }
    & input {
      border: 1px solid rgba(51, 51, 51, 0.2);
      height: 52px;
      width: 100%;
      border-radius: 50px;
      padding-left: 44px;
      outline: none;
      
      & ::placeholder {
        font-size: $main-h3;
      }
      @include respond(small-phone){
        padding-left: 0;
        text-align: center;
      }
    }
    & img {
      position: absolute;
      width: 20px;
      height: 20px;
      left: 15px;
      top: calc(50% - 20px / 2);
      @include respond(small-phone){
        display: none;
      }
    }
  }
}

.hidden {
  opacity: 0;
}

.move__top {
  position: absolute;
  height: 52px;
  left: 111px;
  right: 26px;
  bottom: 27px;
  width: 541px;
  top: 26px;
  @include respond(small-phone){
    left: 95px;
    width: 195px;
  }
}
.srink {
  height: 106px;
}
