.header__wrapp {
  position: absolute;
  height: 20.1rem;
  width: 120rem;
  left: 240px;
  right: 0px;
  top: 0px;
  background: $header-bg;
  // padding: 4rem 0;
  @include respond(tab-port){
    width: 65.5rem;
    left: 192px;
    height: 181px;
    border-bottom:1px solid #e5e5e5;
  }
  &-heading {
    padding-left: 6rem;
    font-size: $main-h1;
    margin-bottom: 30px;
    @include respond(tab-port){
      position: absolute;
      width: 29.6rem;
      height: 40px;
      left: 315px;
      top: 31px;
    }
  }
  &-input {
    position: absolute;
    width: 108rem;
    height: 52px;
    left: 60px;
    border-radius: 50px;
    border: none;
    @include respond(tab-port){
      width: 61.2rem;
      left: 17px;
      top:102px;
    }
    & input {
      border: 1px solid rgba(51, 51, 51, 0.2);
      height: 52px;
      width: 100%;
      border-radius: 50px;
      padding-left: 44px;
      outline: none;
      & ::placeholder {
        font-size: $main-h3;
      }
    }
    & img {
      position: absolute;
      width: 20px;
      height: 20px;
      left: 15px;
      top: calc(50% - 20px / 2);
    }
  }
}
